body {
	background:url("./img.png");
}

#ipoteka{
 font: 1em Arial,sans-serif;
 float: absolute;
 border: 2px dashed #B0FFB6
}

#ipoteka a {
 text-decoration: none;
 color: #369;
 border-radius: 4px;
 border: 1px solid #69e; 
 padding: 3px 6px;
 display: inline-block;
}

#ipoteka .row{
 margin: 12px;
}
#ipoteka .row input{
 padding: 5px;
 border-radius: 4px;
 border: 1px solid #69e;
 outline: 0;
}
#ipoteka .row input:focus{
 box-shadow: 0 0 4px #369
}
#ipoteka #result{
 font: 3em Arial,sans-serif;
}